* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  padding: 20px;
  margin: 50px auto;
  max-width: 1024px;
}

.filters {
  background-color: white;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  position: sticky;
  top: 20px; /* Stick to the top of the viewport */
  height: 60vh;
}

.filters h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.clear-all {
  display: block;
  text-align: right;
  color: #007bff;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
 
.filter-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-group input[type="checkbox"] {
  margin-right: 5px;
}

.main-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-container a {
  text-decoration: none;
}



.budget-container {
  display: flex;
  justify-content: space-between;
}

.budget-container input {
  width: 40%;
  padding: 10px;
}

.budget-container input:active {
  border: 1px rgb(50, 180, 231) solid;
}

.budget-container span {
  align-self: center;
}




.sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}


.sort .label {
  font-size: 16px;
  margin-right: 10px;
}

.sort select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.product-card {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 15px;
}

.product-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.product-card .price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.product-card button {
  padding: 10px;
  width: 100%;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-card button:hover {
  background-color: #e60000;
}
